html, body, div, header, blockquote, section, p, h1, h2, h3, h4, ul, ol, li, input, select, textarea, form, nav {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-size-adjust: none;
}

header, footer, nav {
  display: block;
}

ul {
  list-style: none;
}

a {
  outline: none;
  text-decoration: none;
  color: #333;
}

img {
  border: none;
  outline: none;
}

input, select, textarea, table {
  font: inherit;
  color: inherit;
  outline: none;
}

body, html {
  height: 100%;
}

body {
  font-size: 0.6rem;
  font-family: microsoft yahei, "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  color: #333;
  background: #fff;
}

.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.container {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1100px;
  }
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.logo-container {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f4ffffff,endColorstr=#f4ffffff);
  background: rgba(255, 255, 255, 0.96);
}

.logo {
  background: url(../images/index.png) 0 0 no-repeat;
  height: 92px;
}

.logo-right {
  position: absolute;
  right: 0;
  top: 0;
  width: 284px;
  background: url(../images/index.png) 0 -83px no-repeat;
  height: 92px;
}

.header-nav {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000);
  background: rgba(0, 0, 0, 0.5);
}
.header-nav .nav:after, .header-nav .sub-nav:after {
  clear: both;
  content: " ";
  display: table;
  overflow: hidden;
  height: 0;
}
.header-nav li {
  position: relative;
  float: left;
  line-height: 42px;
  width: 144px;
  text-align: center;
  cursor: pointer;
}
.header-nav li.current, .header-nav li:hover {
  background: #066ce0;
}
.header-nav li:hover .sub-nav {
  display: block;
}
.header-nav a {
  color: #fff;
  font-size: 16px;
}
.header-nav .sub-nav {
  position: absolute;
  width: 144px;
  display: none;
  background: rgba(6, 108, 224, 0.6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99066ce0,endColorstr=#99066ce0);
}

.scrollwap {
  min-height: 100%;
  background: #fff;
}

.carousel-wap {
  padding-bottom: 20px;
}

.carousel {
  position: relative;
}
.carousel li {
  overflow: hidden;
}
.carousel img {
  display: block;
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .carousel img {
    width: auto;
    height: 600px;
    margin-left: -350px;
  }
}
.carousel-indicators, .box-indicators {
  text-align: center;
  font-size: 0;
}
.carousel-indicators a, .box-indicators a {
  display: inline-block;
  width: 6px;
  height: 6px;
  background: #fff;
  border: 1px solid #afb6bb;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.carousel-indicators .current, .box-indicators .current {
  width: 8px;
  height: 8px;
  background: #066ce0;
  border: none;
}

.carousel-indicators a {
  margin: 26px 7px;
}

.box {
  float: left;
  margin-bottom: 85px;
}

.new-list {
  width: 526px;
}
.new-list .row {
  margin: 0 -20px;
}
.new-list .box-h {
  border-bottom: 1px solid #e2e2e2;
}

.box-h {
  position: relative;
  padding: 10px 0;
  line-height: 37px;
  font-size: 20px;
  color: #666;
}
.box-h .more {
  position: absolute;
  right: 0;
}

.circle {
  width: 8px;
  height: 8px;
  background: #066ce0;
  margin-right: 12px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.new-item {
  float: left;
  width: 50%;
  margin: 22px 0 16px 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 20px;
}
.new-item .img-wap {
  float: left;
  width: 90px;
  height: 80px;
  margin-top: 4px;
  overflow: hidden;
  margin-right: 10px;
}
.new-item .img-wap img {
  width: 100%;
  height: auto;
  display: block;
}
.new-item .new-item-txt {
  font-size: 14px;
  line-height: 20px;
  color: #666;
}
.new-item:hover .new-item-txt {
  color: #999;
}
.new-item .new-item-time {
  font-size: 12px;
  color: #999;
  line-height: 24px;
}

.box-indicators a {
  margin: 8px 12px;
}

.viewgroup {
  width: 480px;
  padding-left: 94px;
}
.viewgroup .box-c {
  height: 260px;
  width: 100%;
}

@media (max-width: 1109px) {
  .viewgroup {
    width: 100%;
    padding-left: 0;
    margin-bottom: 85px;
  }
  .viewgroup .box-c {
    height: auto;
    width: 100%;
  }

  .new-list {
    width: 100%;
    margin-bottom: 30px;
  }
}
.area-page {
  padding-top: 80px;
  text-align: center;
}
.area-page h2 {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  height: 40px;
  width: 497px;
  font-size: 0;
}
.area-page h3 {
  font-size: 16px;
  line-height: 36px;
  font-weight: normal;
}
.area-page h3 .h-line-l, .area-page h3 .h-line-r {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 132px;
  height: 1px;
  margin: 0 25px;
}
.area-page h3 .h-line-l:after, .area-page h3 .h-line-r:after {
  content: " ";
  width: 5px;
  height: 5px;
  position: absolute;
  background: #bbb;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  top: -2px;
}
.area-page h3 .h-line-l {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiYmJjYmUiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #bbbcbe));
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #bbbcbe 100%);
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #bbbcbe 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #bbbcbe 100%);
}
.area-page h3 .h-line-l:after {
  right: -5px;
}
.area-page h3 .h-line-r {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjEuMCIgeTE9IjAuNSIgeDI9IjAuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiYmJjYmUiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background: -webkit-gradient(linear, 100% 50%, 0% 50%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #bbbcbe));
  background: -moz-linear-gradient(right, rgba(255, 255, 255, 0) 0%, #bbbcbe 100%);
  background: -webkit-linear-gradient(right, rgba(255, 255, 255, 0) 0%, #bbbcbe 100%);
  background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, #bbbcbe 100%);
}
.area-page h3 .h-line-r:after {
  left: -5px;
}

.page-con {
  padding: 38px 0 56px;
  font-size: 0;
  text-align: center;
}

.i-flatform {
  display: block;
  height: 162px;
  width: 162px;
  background: url(../images/index.png) 0 -321px #00a8ee no-repeat;
  -moz-border-radius: 81px;
  -webkit-border-radius: 81px;
  border-radius: 81px;
  margin-bottom: 16px;
}

.i-flatform-0 {
  background-position: 0 -321px;
}
.i-flatform-0:hover {
  background-color: #18bbff;
}

.i-flatform-1 {
  background-position: -162px -321px;
  background-color: #f7a903;
}
.i-flatform-1:hover {
  background-color: #fcb826;
}

.i-flatform-2 {
  background-position: -324px -321px;
  background-color: #f46903;
}
.i-flatform-2:hover {
  background-color: #fc7f23;
}

.i-flatform-3 {
  background-position: 0  -483px;
  background-color: #af65ff;
}
.i-flatform-3:hover {
  background-color: #c48eff;
}

.i-flatform-4 {
  background-position: -162px -483px;
  background-color: #21b717;
}
.i-flatform-4:hover {
  background-color: #28db1c;
}

.flatform-item {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 162px;
  text-align: center;
  margin: 0 36px;
  padding-bottom: 30px;
}
.flatform-item h4 {
  font-weight: normal;
  font-size: 24px;
  line-height: 38px;
}
.flatform-item p {
  color: #666;
  padding: 0 15px;
  line-height: 18px;
  font-size: 12px;
}

.platform-page {
  background: #f7f7f8;
}
.platform-page h2 {
  background: url(../images/index.png) 0 -184px no-repeat;
}
.platform-page .row {
  margin: 0 -36px;
}

.product-page h2 {
  width: 317px;
  background: url(../images/index.png) 0 -254px no-repeat;
}
.product-page .row {
  margin: 0 -23px;
}

.product-item {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin: 0 23px;
}
.product-item .i-product {
  display: block;
  width: 184px;
  height: 92px;
  font-size: 0;
  background: url(../images/index.png) 0 -645px #b4b4b6 no-repeat;
}
.product-item .i-product:hover {
  background-color: #066ce0;
}
.product-item .i-product-1 {
  background: url(../images/index.png) -184px -645px #b4b4b6 no-repeat;
}
.product-item .i-product-2 {
  background: url(../images/index.png) 0 -737px #b4b4b6 no-repeat;
}
.product-item .i-product-3 {
  background: url(../images/index.png) -184px -737px #b4b4b6 no-repeat;
}

@media (max-width: 768px) {
  .product-item {
    margin: 0 50px 50px;
  }
}
.footer {
  background: #222f35;
  padding: 25px 0;
  text-align: center;
  line-height: 20px;
}

.footer-nav a {
  color: #999;
  font-size: 14px;
  margin: 0 10px;
}
.footer-nav a:hover {
  color: #eee;
}

.copyright {
  color: #999;
  font-size: 14px;
}
