html, body, div, header, blockquote, section, p, h1, h2, h3, h4, ul, ol, li, input, select, textarea, form, nav, dl, dt, dd {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-size-adjust: none;
}

header, footer, nav {
  display: block;
}

ul {
  list-style: none;
}

a {
  outline: none;
  text-decoration: none;
  color: #333;
}

img {
  border: none;
  outline: none;
}

input, select, textarea, table {
  font: inherit;
  color: inherit;
  outline: none;
}

body, html {
  height: 100%;
}

body {
  font-family: microsoft yahei, 'Helvetica Neue', Arial, sans-serif;
  font-size: 12px;
  color: #333;
  background: #fff;
}

html {
  position: relative;
  min-width: 760px;
}

.clearfix:after {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: ' ';
}

.container {
  position: relative;
  width: 1100px;
  margin: 0 auto;
}

@media only screen and (min-width: 1120px) and (max-width: 1200px) {
  .container {
    width: 1100px;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 990px) and (max-width: 1119px) {
  .container {
    width: 970px;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 920px) and (max-width: 989px) {
  .container {
    width: 900px;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 820px) and (max-width: 919px) {
  .container {
    width: 800px;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1px) and (max-width: 820px) {
  .container {
    width: auto;
    margin: 0 10px;
  }
}
.header {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;
}

.scroll-wap {
  position: relative;
  z-index: 9;
  min-height: 100%;
  background: #fff;
}

.logo-container {
  background: rgba(255, 255, 255, 0.96);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f4ffffff, endColorstr=#f4ffffff);
}

.logo {
  height: 92px;
  background: url(../images/index.png) 0 0 no-repeat;
}

.logo-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 284px;
  height: 92px;
  background: url(../images/index.png) 0 -83px no-repeat;
}

.header-nav {
  background: rgba(0, 0, 0, 0.25);
  background: url(../images/h-nav.png) repeat\9;
}
.header-nav.active {
  background: #222f35;
}
.header-nav .nav {
  height: 42px;
}
.header-nav .nav > li {
  width: 140px;
  float: left;
}
.header-nav li {
  position: relative;
  line-height: 42px;
  cursor: pointer;
  text-align: center;
}
.header-nav li.current, .header-nav li:hover {
  background: #066ce0;
}
.header-nav li:hover .sub-nav {
  opacity: 1;
  display: block;
}
.header-nav a {
  font-size: 16px;
  color: #fff;
  display: block;
}
.header-nav .sub-nav {
  display: none;
  position: absolute;
  top: 42px;
  width: 100%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  background: rgba(6, 108, 224, 0.6);
  background: url(../images/nav-item.png) repeat\9;
}
.header-nav .sub-nav li {
  z-index: 100;
}

@media only screen and (max-width: 969px) {
  .header-nav .nav > li {
    width: 16.6%;
    max-width: 120px;
  }
}
.carousel-wap {
  position: relative;
  margin-bottom: 56px;
}

.carousel {
  position: relative;
  line-height: 1;
}
.carousel li {
  position: relative;
  display: none;
  opacity: 0;
  overflow: hidden;
  transition: all 3s ease;
}
.carousel li.current {
  display: block;
  opacity: 1;
}
.carousel li.current .tl h2, .carousel li.current .bl h2 {
  -moz-animation: lfadeInUp 2s ease-in-out forwards;
  -webkit-animation: lfadeInUp 2s ease-in-out forwards;
  animation: lfadeInUp 2s ease-in-out forwards;
}
.carousel li.current .tr h2, .carousel li.current .br h2 {
  -moz-animation: rfadeInUp 2s ease-in-out forwards;
  -webkit-animation: rfadeInUp 2s ease-in-out forwards;
  animation: rfadeInUp 2s ease-in-out forwards;
}
.carousel img {
  display: block;
  max-width: 100%;
}
.carousel .carousel-txt-wap {
  font-family: "fzzzhjt", 'Helvetica Neue', Arial, sans-serif;
  position: absolute;
  top: 134px;
  bottom: 0;
  left: 50%;
  margin-left: -550px;
}
.carousel .carousel-txt-wap.tl h2 {
  left: 49px;
  top: 28.59779%;
}
.carousel .carousel-txt-wap.bl h2 {
  left: 49px;
  bottom: 23.43173%;
}
.carousel .carousel-txt-wap.tr h2 {
  right: 49px;
  top: 28.59779%;
}
.carousel .carousel-txt-wap.br h2 {
  right: 49px;
  bottom: 23.43173%;
}
.carousel h2 {
  position: absolute;
  bottom: 127px;
  font-size: 36px;
  color: #fff;
  z-index: 22;
}

@-moz-keyframes lfadeInUp {
  0% {
    opacity: 0;
    -moz-transform: translate3d(-200px, 0, 0);
    transform: translate3d(-200px, 0, 0);
  }
  100% {
    opacity: 1;
    -moz-transform: none;
    transform: none;
  }
}
@-webkit-keyframes lfadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-200px, 0, 0);
    transform: translate3d(-200px, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes lfadeInUp {
  0% {
    opacity: 0;
    -moz-transform: translate3d(-200px, 0, 0);
    -ms-transform: translate3d(-200px, 0, 0);
    -webkit-transform: translate3d(-200px, 0, 0);
    transform: translate3d(-200px, 0, 0);
  }
  100% {
    opacity: 1;
    -moz-transform: none;
    -ms-transform: none;
    -webkit-transform: none;
    transform: none;
  }
}
@-moz-keyframes rfadeInUp {
  0% {
    opacity: 0;
    -moz-transform: translate3d(200px, 0, 0);
    transform: translate3d(200px, 0, 0);
  }
  100% {
    opacity: 1;
    -moz-transform: none;
    transform: none;
  }
}
@-webkit-keyframes rfadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(200px, 0, 0);
    transform: translate3d(200px, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes rfadeInUp {
  0% {
    opacity: 0;
    -moz-transform: translate3d(200px, 0, 0);
    -ms-transform: translate3d(200px, 0, 0);
    -webkit-transform: translate3d(200px, 0, 0);
    transform: translate3d(200px, 0, 0);
  }
  100% {
    opacity: 1;
    -moz-transform: none;
    -ms-transform: none;
    -webkit-transform: none;
    transform: none;
  }
}
@media only screen and (min-width: 1110px) and (max-width: 1200px) {
  .carousel .carousel-txt-wap {
    left: 50%;
    margin-left: -550px;
  }
  .carousel .carousel-txt-wap h2 {
    font-size: 32px;
  }
}
@media only screen and (min-width: 980px) and (max-width: 1109px) {
  .carousel .carousel-txt-wap {
    left: 50%;
    margin-left: -485px;
  }
  .carousel .carousel-txt-wap h2 {
    font-size: 30px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 979px) {
  .carousel .carousel-txt-wap {
    width: 100%;
    left: 0;
    margin-left: 0;
  }
  .carousel .carousel-txt-wap h2 {
    font-size: 28px;
  }
}
@media only screen and (min-width: 1px) and (max-width: 599px) {
  .carousel .carousel-txt-wap {
    width: 100%;
    left: 0;
    margin-left: 0;
  }
  .carousel .carousel-txt-wap h2 {
    font-size: 25px;
  }
}
.carousel-indicators, .box-indicators {
  font-size: 0;
  text-align: center;
}
.carousel-indicators a, .box-indicators a {
  display: inline-block;
  width: 6px;
  height: 6px;
  border: 1px solid #afb6bb;
  background: transparent;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.carousel-indicators a.current, .carousel-indicators a:hover, .box-indicators a.current, .box-indicators a:hover {
  width: 8px;
  height: 8px;
  border: none;
  background: #066ce0;
}

.carousel-indicators {
  position: absolute;
  bottom: 22px;
  left: 0;
  width: 100%;
}
.carousel-indicators a {
  margin: 0 7px;
  border: 1px solid #fff;
}
.carousel-indicators a.current, .carousel-indicators a:hover {
  background: #fff;
}

.box {
  float: left;
  overflow: hidden;
  margin-bottom: 85px;
}

.new-list {
  width: 526px;
}
.new-list .row {
  margin: 0 -20px;
}
.new-list .box-h {
  border-bottom: 1px solid #e2e2e2;
}
.new-list .box-c {
  display: none;
}
.new-list .box-c.current {
  display: block;
}

.box-h {
  position: relative;
  padding: 10px 0;
  font-size: 20px;
  line-height: 37px;
  color: #666;
}
.box-h .btn-more {
  position: absolute;
  top: 20px;
  right: 0;
  width: 70px;
  height: 20px;
  font-size: 0;
  background: url(../images/index.png) 0 -912px #b9bfc2 no-repeat;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.box-h .btn-more:hover {
  background-color: #066ce0;
}

.circle {
  width: 8px;
  height: 8px;
  margin-right: 12px;
  background: #066ce0;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.new-item {
  float: left;
  width: 50%;
  margin: 22px 0 16px 0;
  padding: 0 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.new-item .img-wap {
  float: left;
  overflow: hidden;
  width: 90px;
  height: 80px;
  margin-top: 4px;
  margin-right: 10px;
}
.new-item .img-wap img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-height: 100%;
}
.new-item .new-item-txt {
  font-size: 14px;
  line-height: 20px;
  color: #666;
}
.new-item:hover .new-item-txt {
  color: #999;
}
.new-item .new-item-time {
  font-size: 12px;
  line-height: 24px;
  color: #999;
}

.box-indicators a {
  margin: 8px 12px;
}

.viewgroup {
  overflow: visible;
  width: 480px;
  padding-left: 94px;
}
.viewgroup .box-c {
  width: 100%;
  height: 260px;
}
.viewgroup .box-c #myobject, .viewgroup .box-c #myvideo {
  width: 480px;
  height: 260px;
}

@media only screen and (min-width: 990px) and (max-width: 1119px) {
  .viewgroup {
    width: 420px;
    padding-left: 50px;
  }
  .viewgroup .box-c {
    width: 100%;
    height: auto;
  }
  .viewgroup .box-c #myobject, .viewgroup .box-c #myvideo {
    width: 420px;
    height: 236px;
  }

  .new-list {
    width: 500px;
    margin-bottom: 30px;
  }
}
@media only screen and (min-width: 920px) and (max-width: 989px) {
  .viewgroup {
    width: 420px;
    padding-left: 20px;
  }
  .viewgroup .box-c {
    width: 100%;
    height: auto;
  }
  .viewgroup .box-c #myobject, .viewgroup .box-c #myvideo {
    width: 420px;
    height: 236px;
  }

  .new-list {
    width: 460px;
    margin-bottom: 30px;
  }
}
@media only screen and (min-width: 820px) and (max-width: 919px) {
  .viewgroup {
    width: 360px;
    padding-left: 20px;
  }
  .viewgroup .box-c {
    width: 100%;
    height: auto;
  }
  .viewgroup .box-c #myobject, .viewgroup .box-c #myvideo {
    width: 360px;
    height: 202px;
  }

  .new-list {
    width: 420px;
    margin-bottom: 30px;
  }
}
@media only screen and (min-width: 1px) and (max-width: 820px) {
  .viewgroup {
    display: block;
    padding-left: 0;
    width: 100%;
  }
  .viewgroup .box-c {
    width: 480px;
    height: auto;
    margin: 0 auto;
  }
  .viewgroup .box-c #myobject, .viewgroup .box-c #myvideo {
    width: 480px;
    height: 260px;
  }

  .new-list {
    width: 100%;
    margin-bottom: 30px;
  }
}
.area-page {
  overflow: hidden;
  padding-top: 80px;
  text-align: center;
}
.area-page h2 {
  height: 40px;
  width: 100% !important;
  font-size: 0;
  padding: 0 8px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
.area-page h2 img {
  width: auto;
}
.area-page h3 {
  font-size: 16px;
  font-weight: normal;
  line-height: 36px;
}
.area-page h3 .h-line-l, .area-page h3 .h-line-r {
  position: relative;
  width: 132px;
  height: 1px;
  margin: 0 25px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
.area-page h3 .h-line-l:after, .area-page h3 .h-line-r:after {
  position: absolute;
  top: -2px;
  width: 5px;
  height: 5px;
  background: #bbb;
  content: ' ';
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.area-page h3 .h-line-l {
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#fff, endColorstr=#bbbcbe);
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiYmJjYmUiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #bbbcbe));
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #bbbcbe 100%);
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #bbbcbe 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #bbbcbe 100%);
}
.area-page h3 .h-line-l:after {
  right: -5px;
}
.area-page h3 .h-line-r {
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#bbbcbe, endColorstr=#fff);
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjEuMCIgeTE9IjAuNSIgeDI9IjAuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiYmJjYmUiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background: -webkit-gradient(linear, 100% 50%, 0% 50%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #bbbcbe));
  background: -moz-linear-gradient(right, rgba(255, 255, 255, 0) 0%, #bbbcbe 100%);
  background: -webkit-linear-gradient(right, rgba(255, 255, 255, 0) 0%, #bbbcbe 100%);
  background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, #bbbcbe 100%);
}
.area-page h3 .h-line-r:after {
  left: -5px;
}

.page-con {
  padding: 38px 0 56px;
  font-size: 0;
  text-align: center;
}

.i-flatform {
  display: block;
  width: 162px;
  height: 162px;
  margin-bottom: 16px;
  background: url(../images/index.png) 0 -321px #00a8ee no-repeat;
  -moz-border-radius: 81px;
  -webkit-border-radius: 81px;
  border-radius: 81px;
}

.i-flatform-0 {
  background-position: 0 -321px;
}
.i-flatform-0:hover {
  background-color: #18bbff;
}

.i-flatform-1 {
  background-color: #f7a903;
  background-position: -162px -321px;
}
.i-flatform-1:hover {
  background-color: #fcb826;
}

.i-flatform-2 {
  background-color: #f46903;
  background-position: -324px -321px;
}
.i-flatform-2:hover {
  background-color: #fc7f23;
}

.i-flatform-3 {
  background-color: #af65ff;
  background-position: 0 -483px;
}
.i-flatform-3:hover {
  background-color: #c48eff;
}

.i-flatform-4 {
  background-color: #21b717;
  background-position: -162px -483px;
}
.i-flatform-4:hover {
  background-color: #28db1c;
}

.flatform-item {
  width: 162px;
  padding: 20px 30px 36px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
.flatform-item h4 {
  font-size: 24px;
  font-weight: normal;
  line-height: 38px;
}
.flatform-item p {
  padding: 0 15px;
  font-size: 12px;
  line-height: 18px;
  color: #666;
}
.flatform-item i:hover {
  -moz-box-shadow: 0px 0px 30px rgba(200, 200, 200, 0.41);
  -webkit-box-shadow: 0px 0px 30px rgba(200, 200, 200, 0.41);
  box-shadow: 0px 0px 30px rgba(200, 200, 200, 0.41);
  -moz-transform: translate3d(0, -2px, 0);
  -ms-transform: translate3d(0, -2px, 0);
  -webkit-transform: translate3d(0, -2px, 0);
  transform: translate3d(0, -2px, 0);
}

.platform-page {
  background: #f7f7f8;
}
.platform-page h2 {
  background-position: 0 -2px;
}
.platform-page .row {
  margin: -20px -30px 0;
}

.product-page h2 {
  width: 317px;
  background-position: 0 -47px;
}
.product-page .row {
  margin: 0 -30px;
}

@media only screen and (min-width: 990px) and (max-width: 1119px) {
  .platform-page .row {
    margin: -20px -20px 0;
  }

  .flatform-item {
    padding: 20px 20px 36px;
  }
}
@media only screen and (min-width: 920px) and (max-width: 989px) {
  .platform-page .row {
    margin: -20px -20px 0;
  }

  .flatform-item {
    padding: 20px 10px 36px;
  }
}
@media only screen and (min-width: 1px) and (max-width: 919px) {
  .platform-page .page-con {
    width: 666px;
    margin: 0 auto;
  }
}
.b-section {
  text-align: left;
  padding-left: 24px;
}
.b-section h4 {
  font-size: 20px;
  color: #066ce0;
  margin-top: 28px;
}
.b-section dt {
  font-weight: bold;
  font-size: 18px;
  line-height: 33px;
}
.b-section dd {
  line-height: 36px;
  font-size: 16px;
}
.b-section .b-section-c {
  margin-left: 124px;
  font-size: 0;
}
.b-section .b-section-list {
  padding-top: 30px;
}
.b-section .w40, .b-section .img-wap {
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 40%;
}
.b-section .img-wap {
  width: 60%;
}
.b-section .img-wap img {
  width: auto;
  max-width: 100%;
  height: auto;
}
.b-section .disc dd {
  position: relative;
  padding-left: 18px;
}
.b-section .disc dd:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 14px;
  background: #333;
  width: 8px;
  height: 8px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

@media only screen and (min-width: 1px) and (max-width: 979px) {
  .b-section .img-wap {
    overflow: hidden;
  }
  .b-section .img-wap img {
    max-width: 140%;
    margin: 0 -20%;
  }
}
.product-item {
  margin: 0 23px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
.product-item .i-product {
  display: block;
  width: 184px;
  height: 92px;
  font-size: 0;
  background: url(../images/index.png) 0 -645px #b4b4b6 no-repeat;
}
.product-item .i-product:hover {
  background-color: #066ce0;
}
.product-item .i-product-1 {
  background: url(../images/index.png) -184px -645px #b4b4b6 no-repeat;
}
.product-item .i-product-2 {
  background: url(../images/index.png) 0 -737px #b4b4b6 no-repeat;
}
.product-item .i-product-3 {
  background: url(../images/index.png) -184px -737px #b4b4b6 no-repeat;
}

@media only screen and (max-width: 920px) {
  .product-item {
    margin: 0 50px 50px;
  }
}
.footer {
  padding: 25px 0;
  line-height: 20px;
  background: #222f35;
  text-align: center;
}

.footer-nav a {
  margin: 0 10px;
  font-size: 14px;
  color: #999;
}
.footer-nav a:hover {
  color: #eee;
}

.copyright {
  font-size: 14px;
  color: #999;
}

.banner-wap {
  position: relative;
  overflow: hidden;
  height: 300px;
  margin-top: 92px;
  background: #c3c9ce;
}
.banner-wap .banner {
  position: absolute;
  width: 2000px;
  left: 50%;
  margin-left: -1000px;
  text-align: center;
}
.banner-wap img {
  height: 100%;
  width: auto;
}

.crumbs, .breadcrumb {
  font-size: 12px;
  line-height: 28px;
}

.crumbs {
  padding: 25px 0 18px;
}
.crumbs .i-crumbs {
  width: 4px;
  height: 7px;
  margin: 0 10px 0 2px;
  background: url("../images/index.png") -70px -912px no-repeat;
  vertical-align: 1px;
  display: inline-block;
  vertical-align: 1px;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
.crumbs .icon-bcarrow {
  width: 21px;
  height: 12px;
  margin: 9px 0;
  font-size: 0;
  background: url("../images/index.png") -100px -912px no-repeat;
  vertical-align: top;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
.crumbs a {
  color: #333;
}
.crumbs a:hover {
  color: #666;
}
.crumbs a.current, .crumbs a.current:hover {
  color: #999;
}

.crumbs-wap + .tab-wap .tab {
  margin-top: 0;
}

.breadcrumb {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000, endColorstr=#7f000000);
}
.breadcrumb a {
  color: #fff;
}
.breadcrumb .icon-bcarrow {
  width: 16px;
  height: 12px;
  margin: 0 3px;
  font-size: 16px;
  display: inline-block;
  vertical-align: -3px;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

.tab {
  position: relative;
  height: 31px;
  margin-top: 48px;
  border-bottom: 1px solid #e2e2e2;
}
.tab a {
  width: 102px;
  height: 30px;
  margin-right: 6px;
  font-size: 14px;
  line-height: 30px;
  color: #666;
  border: 1px solid #e2e2e2;
  background: #eee;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px;
  border-radius: 3px 3px 0 0;
}
.tab a:hover, .tab a.current {
  color: #fff;
  border: 1px solid #066ce0;
  background: #066ce0;
}
.tab:before {
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 5px;
  height: 5px;
  background: #e2e2e2;
  content: ' ';
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.tabfix-wap .fix {
  position: fixed;
  padding: 10px 0;
  left: 0;
  top: 0;
  right: 0;
  background: #fff;
  z-index: 999999;
}
.tabfix-wap .fix .tab-nav {
  margin-bottom: 20px;
}

.tab-con {
  display: none;
}
.tab-con.current {
  display: block;
}

.talent-page {
  text-align: center;
}
.talent-page h2 {
  width: 370px;
  background-position: 0 -362px;
}
.talent-page p {
  font-size: 14px;
  line-height: 20px;
}
.talent-page .icon-email {
  font-size: 58px;
  color: #d5d5d5;
}
.talent-page .email {
  padding-bottom: 18px;
}
.talent-page .contact-inf {
  padding-top: 32px;
}
.talent-page .contact-inf a {
  color: #066ce0;
}
.talent-page .request-inf {
  min-height: 199px;
  margin-top: 110px;
  padding-bottom: 60px;
  background: url(../images/joinus.png) no-repeat left bottom;
  text-align: right;
}
.talent-page .request-inf h4 {
  font-size: 24px;
  font-weight: normal;
  line-height: 60px;
}
.talent-page .request-inf h4:after {
  float: right;
  width: 6px;
  height: 23px;
  margin: 20px 0 0 10px;
  background: #066ce0;
  content: ' ';
}
.talent-page .request-inf p {
  line-height: 28px;
  color: #666;
}

@media only screen and (max-width: 1000px) {
  .talent-page .request-inf {
    margin-top: 50px;
    padding-bottom: 300px;
    background-position: bottom center;
    text-align: left;
  }
  .talent-page .request-inf h4:after {
    float: left;
    margin: 20px 10px 0 0;
  }
}
.job-item {
  position: relative;
  padding: 35px 0;
  border-top: 1px solid #e2e2e2;
  text-align: left;
}
.job-item:first-child {
  padding-top: 60px;
}
.job-item:after {
  position: absolute;
  top: -3px;
  right: 0;
  width: 5px;
  height: 5px;
  background: #e2e2e2;
  content: ' ';
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.job-item dt {
  float: left;
  font-size: 18px;
  font-weight: bold;
  color: #666;
}
.job-item dd {
  padding-left: 20%;
}
.job-item dd p {
  position: relative;
  padding-left: 70px;
  line-height: 28px;
  color: #666;
}
.job-item dd span {
  position: absolute;
  left: 0;
}

@media only screen and (max-width: 640px) {
  .job-item dt {
    display: block;
    float: none;
    line-height: 36px;
  }

  .job-item dd {
    padding-left: 0;
  }
}
.pagination {
  font-size: 0;
  text-align: center;
}
.pagination a {
  width: 38px;
  height: 38px;
  margin: 0 -1px;
  font-size: 15px;
  line-height: 38px;
  color: #999;
  border: 1px solid #e2e2e2;
  background: #fff;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
.pagination a.current {
  color: #066ce0;
}
.pagination a:hover {
  position: relative;
  color: #fff;
  border-color: #066ce0;
  background: #066ce0;
}
.pagination .icon-pre {
  font-size: 16px;
  -moz-border-radius: 19px 0 0 19px;
  -webkit-border-radius: 19px;
  border-radius: 19px 0 0 19px;
}
.pagination .icon-next {
  font-size: 16px;
  -moz-border-radius: 0 19px 19px 0;
  -webkit-border-radius: 0;
  border-radius: 0 19px 19px 0;
}

.sidebutton {
  position: fixed;
  top: 80%;
  right: 20px;
  display: none;
  z-index: 999;
}
.sidebutton.active {
  display: block;
}

.scrolltop {
  display: block;
  width: 50px;
  height: 46px;
  font-size: 21px;
  line-height: 46px;
  color: #fff;
  background: rgba(0, 0, 0, 0.35);
  cursor: pointer;
  text-align: center;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#59000000, endColorstr=#59000000);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.worke-page h2 {
  width: 459px;
  background-position: 0 -409px;
}

.newpage h2, .contactpage h2, .tpage h2 {
  position: relative;
  height: 20px;
  padding-bottom: 32px;
  font-size: 0;
  color: #fff;
}
.newpage h2 .img-wap, .contactpage h2 .img-wap, .tpage h2 .img-wap {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 30px;
  width: 220px;
  height: 20px;
  padding: 0 8px;
  background: #fff;
}
.newpage h2 img, .contactpage h2 img, .tpage h2 img {
  width: auto;
  height: auto;
}
.newpage h2:before, .contactpage h2:before, .tpage h2:before {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  border-bottom: 1px solid;
  content: ' ';
}

.contactpage h2:before {
  border-color: #e2e2e2;
}
.contactpage h2:after {
  background-position: 0 -542px;
}
.contactpage .contact-inf {
  text-align: left;
}
.contactpage .contact-inf .c1, .contactpage .contact-inf .c2, .contactpage .contact-inf .c3 {
  float: left;
  margin-bottom: 8px;
  padding: 3px 0;
  font-size: 14px;
  line-height: 18px;
  color: #666;
}
.contactpage .contact-inf .c1 i, .contactpage .contact-inf .c2 i, .contactpage .contact-inf .c3 i {
  float: left;
  height: 12px;
  padding-right: 12px;
  font-size: 16px;
  color: #828284;
}
.contactpage .contact-inf .c1 .tag, .contactpage .contact-inf .c2 .tag, .contactpage .contact-inf .c3 .tag {
  float: left;
  width: 70px;
  height: 18px;
  font-style: normal;
  color: #fff;
  background: #066ce0;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
.contactpage .contact-inf .c1 span, .contactpage .contact-inf .c2 span, .contactpage .contact-inf .c3 span {
  display: block;
  padding-left: 30px;
}
.contactpage .contact-inf .c1 .icon-phone, .contactpage .contact-inf .c2 .icon-phone, .contactpage .contact-inf .c3 .icon-phone {
  font-size: 20px;
}
.contactpage .contact-inf .c1 {
  width: 20%;
}
.contactpage .contact-inf .c2 {
  width: 35%;
}
.contactpage .contact-inf .c3 {
  width: 45%;
}
.contactpage .contact-inf .c3 span {
  padding-left: 110px;
}
.contactpage .map-wap {
  overflow: hidden;
  margin-top: 30px;
}

.newcenter-t {
  height: 110px;
  font-size: 0;
  background: url(../images/h.png) 21px -592px no-repeat;
}

.newpage-c {
  margin-bottom: 37px;
}

.newpage h2 {
  padding-bottom: 22px;
}
.newpage h2:before {
  border-color: #ccc;
}
.newpage h2:after {
  width: 241px;
  background-position: 0 -567px;
}
.newpage h2 .h-circle {
  position: absolute;
  top: 8px;
  right: 0;
  width: 5px;
  height: 5px;
  background: #ccc;
  content: ' ';
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.p-news-list {
  margin-bottom: 6px;
}
.p-news-list .i-time {
  display: block;
  float: left;
  width: 100px;
  height: 100px;
  margin: 20px 53px 40px 56px;
  font-family: Arial;
  color: #fff;
  background: #8ac3de;
  text-align: center;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
}
.p-news-list .i-time .ym {
  padding-top: 20px;
  font-size: 14px;
  line-height: 20px;
}
.p-news-list .i-time .date {
  font-size: 40px;
  line-height: 42px;
}
.p-news-list .news-item-c {
  position: relative;
  margin-left: 209px;
  padding: 20px 0 40px;
}
.p-news-list .news-item-c .img-wap {
  display: block;
  float: left;
  overflow: hidden;
  width: 182px;
  height: 120px;
  margin: 0 22px 0 17px;
  background: url("../images/default.png") no-repeat;
}
.p-news-list .news-item-c .img-wap img {
  width: 100%;
  height: auto;
}
.p-news-list .news-item-c .news-item-txt {
  min-height: 120px;
  margin: 0 32px 0 221px;
}
.p-news-list .news-item-c .news-item-txt h4 {
  padding-bottom: 15px;
  font-size: 16px;
  line-height: 20px;
}
.p-news-list .news-item-c .news-item-txt p {
  font-size: 14px;
  line-height: 22px;
}
.p-news-list li + li .news-item-c {
  border-top: 1px solid #ccc;
}
.p-news-list li + li .news-item-c:after {
  position: absolute;
  top: -3px;
  right: 0;
  width: 5px;
  height: 5px;
  background: #ccc;
  content: ' ';
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.new-box {
  position: relative;
  width: 758px;
  margin: 0 auto 56px;
  padding: 0 60px;
  border: 1px solid #ccc;
  background: #f7f7f8;
}

.lasnews {
  position: absolute;
  top: -36px;
  right: 14px;
  line-height: 36px;
}
.lasnews .i-pre-page, .lasnews .i-next-page {
  margin: 0 8px;
  font-size: 0;
  border-width: 4px 4px;
  border-style: solid;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
.lasnews .i-pre-page {
  margin-top: -6px;
  border-color: transparent transparent #333 transparent;
}
.lasnews .i-next-page {
  margin-top: 3px;
  border-color: #333 transparent transparent transparent;
}
.lasnews a {
  margin: 0 10px;
  color: #333;
}
.lasnews a:hover {
  color: #999;
}
.lasnews a:hover .i-pre-page {
  border-color: transparent transparent #999 transparent;
}
.lasnews a:hover .i-next-page {
  border-color: #999 transparent transparent transparent;
}

.new-box-h {
  padding: 50px 0 25px;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
.new-box-h h1 {
  font-size: 18px;
  font-weight: normal;
  line-height: 28px;
}
.new-box-h p {
  padding-top: 6px;
  font-size: 14px;
  line-height: 24px;
  color: #666;
}

.new-box-c {
  padding: 24px 25px 14px;
  font-size: 14px;
  line-height: 26px;
  color: #666;
}
.new-box-c p {
  margin-bottom: 20px;
}
.new-box-c .img-wap {
  text-align: center;
}
.new-box-c .img-wap img {
  max-width: 95%;
  vertical-align: bottom;
}

.new-box-f {
  padding: 23px 25px 27px;
  border-top: 1px solid #ccc;
}
.new-box-f a {
  line-height: 24px;
}
.new-box-f a:hover {
  color: #999;
}
.new-box-f .topre {
  float: left;
}
.new-box-f .tonext {
  float: right;
}

@media only screen and (max-width: 1099px) {
  .new-box {
    width: 558px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 765px) {
  .new-box {
    width: auto;
    margin: 0 20px;
  }
}
.cx-t {
  height: 110px;
  font-size: 0;
  background: url(../images/h.png) 21px -707px no-repeat;
}

.aboutme-page .page-h h2 {
  width: 412px;
  background-position: 0 -92px;
}
.aboutme-page .page-con {
  padding-bottom: 28px;
}
.aboutme-page .page-con .float {
  float: left;
  margin-right: 50px;
}
.aboutme-page .page-con p {
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 28px;
  text-align: left;
  text-indent: 28px;
}

.associatecompany-page .page-h h2 {
  width: 532px;
  background-position: 0 -227px;
}

.companylist {
  margin: 0 155px;
}

.company-item {
  padding: 40px;
  text-align: left;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.company-item .img-wap {
  display: block;
  float: left;
  width: 194px;
  margin-left: 15px;
}
.company-item .img-wap img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}
.company-item .company-item-inf {
  margin-left: 254px;
}
.company-item h4 {
  margin-bottom: 7px;
  font-size: 16px;
  line-height: 1;
}
.company-item p {
  font-size: 14px;
  line-height: 28px;
}
.company-item + .company-item {
  margin-top: 50px;
}

@media only screen and (max-width: 1099px) {
  .companylist {
    margin: 0 50px;
  }

  .company-item {
    padding: 30px;
  }
  .company-item .img-wap {
    margin-left: 0;
  }
  .company-item .company-item-inf {
    margin-left: 220px;
  }
}
.enterpriseculture-page .page-h h2 {
  width: 466px;
  margin: 0 auto;
  background-position: 0 -137px;
}
.enterpriseculture-page .page-con {
  padding-top: 52px;
}
.enterpriseculture-page .page-con .img-wap {
  margin: 40px 129px 10px;
  padding: 14px;
  border: 1px solid #ccc;
}
.enterpriseculture-page .page-con .img-wap img {
  width: 100%;
  height: auto;
}
.enterpriseculture-page .culture-item {
  float: left;
  width: 33%;
}
.enterpriseculture-page .culture-item h3 {
  width: 144px;
  margin: 0 auto;
  font-size: 30px;
  font-weight: bold;
  line-height: 144px;
  color: #066ce0;
  background: url(../images/index.png) -396px -483px no-repeat;
  text-align: center;
}
.enterpriseculture-page .culture-item .i-arrow {
  display: block;
  width: 0;
  height: 0;
  margin: 17px auto 21px;
  border-width: 14px 10px 0 10px;
  border-style: solid;
  border-color: #222f35 transparent transparent;
}
.enterpriseculture-page .culture-item ul {
  font-size: 16px;
  line-height: 28px;
}
.enterpriseculture-page .culture-item ul li:before {
  width: 3px;
  height: 3px;
  margin-right: 8px;
  background: #333;
  content: ' ';
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.partner-page .page-h h2 {
  width: 231px;
  margin: 0 auto;
  background-position: 0 -317px;
}
.partner-page .page-con {
  overflow: visible;
}
.partner-page .row {
  margin-right: -25px;
  text-align: center;
}
.partner-page .partnerlist-inner {
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

@media only screen and (max-width: 1099px) {
  .partnerlist-inner {
    width: 900px;
  }
}
@media only screen and (max-width: 899px) {
  .partnerlist-inner {
    width: 675px;
  }
}
.partner-item {
  float: left;
  width: 200px;
  height: 100px;
  margin: 0 25px 32px 0;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
}
.partner-item img {
  display: block;
  width: 180px;
  height: 80px;
  margin: 10px;
}

.ftab {
  margin-bottom: 60px;
  /*  &.tab
  {
      height: 43px;
      font-size: 0; 
  }
  a
  {
      width: 170px;
      height: 42px;
      margin-right: 4px;
      font-size: 16px;
      line-height: 42px;
      &.current,&:hover
      {
          border-color: #00a8ee;
          background: #00a8ee;
      }
  } */
}

.tab-nav {
  margin-bottom: 57px;
  font-size: 0;
  text-align: center;
}
.tab-nav a {
  position: relative;
  z-index: 1;
  width: 158px;
  height: 34px;
  margin-right: -1px;
  font-size: 14px;
  line-height: 34px;
  color: #666;
  border: 1px solid #e2e2e2;
  background: #eee;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
.tab-nav a.current, .tab-nav a:hover {
  z-index: 2;
  color: #066ce0;
}
.tab-nav a.current:after, .tab-nav a:hover:after {
  position: absolute;
  z-index: 2;
  right: -1px;
  bottom: -1px;
  left: -1px;
  height: 3px;
  background: #066ce0;
  content: ' ';
}

.lrcon {
  overflow-y: hidden;
  margin-bottom: 56px;
  padding-top: 7px;
}

.l-m {
  position: relative;
  z-index: 2;
  float: left;
  width: 228px;
  margin-bottom: -3000px;
  padding-bottom: 3000px;
  border: 1px solid #f2f2f2;
  background: #f9f9f9;
}
.l-m a {
  display: block;
  height: 42px;
  padding-left: 24px;
  font-size: 14px;
  line-height: 42px;
  color: #666;
}
.l-m a.current, .l-m a:hover {
  margin: 0 -1px;
  color: #fff;
  background: #066ce0;
}

.b-l-m {
  position: relative;
}
.b-l-m:before {
  position: absolute;
  top: -7px;
  width: 100%;
  border-top: 7px solid #4a5e68;
  content: ' ';
  -moz-border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px;
  border-radius: 6px 6px 0 0;
}

.r-c {
  overflow-y: hidden;
  overflow-x: visible;
  margin-left: 230px;
  padding: 0 60px 6px 96px;
  font-size: 14px;
  line-height: 25px;
}
.r-c h3 {
  padding-right: 80px;
  padding-bottom: 24px;
  font-size: 26px;
  font-weight: normal;
  line-height: 38px;
  text-align: center;
}
.r-c > p {
  color: #666;
  text-indent: 32px;
}
.r-c .img-wap {
  position: relative;
  padding-bottom: 20px;
  text-align: left;
}
.r-c .img-wap img {
  z-index: 1;
  width: auto;
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}
.r-c .img-wap.col-xs-5 {
  width: 50%;
  padding: 0 10px 20px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.r-c .row {
  margin: 0 -10px;
  font-size: 0;
}
.r-c .img-contain {
  padding-right: 39px;
}
.r-c .txt-ibx {
  overflow: hidden;
  padding: 8px 0 14px;
}
.r-c .txt-ibx-h {
  margin-bottom: 8px;
  padding-left: 16px;
  font-size: 18px;
  line-height: 20px;
  color: #066ce0;
  border-left: 5px solid #066ce0;
}
.r-c .txt-ibx-c {
  position: relative;
  padding-left: 21px;
  line-height: 24px;
  color: #666;
}
.r-c .txt-ibx-c:before {
  position: absolute;
  top: 6px;
  bottom: 6px;
  left: 0;
  width: 5px;
  background: url(../images/txt-ibx-c.png) repeat-y;
  content: ' ';
}
.r-c .txt-ibx-wap {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.r-c .txt-ibx-wap .txt-ibx-row {
  display: table-row;
}
.r-c .txt-ibx-wap .txt-ibx-row + .txt-ibx-row .txt-ibx-item {
  padding-top: 16px;
}
.r-c .txt-ibx-item {
  display: table-cell;
  padding-bottom: 10px;
  padding-left: 12px;
  line-height: 32px;
  color: #666;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.r-c .txt-ibx-item h4 {
  padding: 8px 0 12px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  color: #066ce0;
}
.r-c .txt-ibx-item .img-wap {
  text-align: left;
}
.r-c .img-wap.tl {
  text-align: left;
}
.r-c .img-wap.tc {
  text-align: center;
}
.r-c .img-shadow {
  position: relative;
  left: -96px;
  z-index: -1;
  margin-bottom: -90px;
}
.r-c .img-shadow img {
  max-width: none;
}

.wz-page .img-wap {
  text-align: center;
}

.ydsw-page .img-wap {
  text-align: center;
}

.iot-page .img-wap {
  text-align: center;
}

.software-page .txt-ibx-wap {
  padding-bottom: 11px;
}

.iot-page h3, .software-page h3 {
  padding-right: 0;
}
.iot-page .txt-ibx-item h4, .iot-page .txt-ibx-item p, .software-page .txt-ibx-item h4, .software-page .txt-ibx-item p {
  position: relative;
  padding-left: 12px;
  text-align: left;
}
.iot-page .txt-ibx-item h4:before, .iot-page .txt-ibx-item p:before, .software-page .txt-ibx-item h4:before, .software-page .txt-ibx-item p:before {
  position: absolute;
  left: 0;
  content: ' ';
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background: #066ce0;
}
.iot-page .txt-ibx-item h4, .software-page .txt-ibx-item h4 {
  padding-bottom: 14px;
  font-size: 16px;
  font-weight: bold;
}
.iot-page .txt-ibx-item h4:before, .software-page .txt-ibx-item h4:before {
  width: 6px;
  height: 6px;
  margin: 5px 0;
}
.iot-page .txt-ibx-item p, .software-page .txt-ibx-item p {
  font-size: 14px;
  line-height: 25px;
}
.iot-page .txt-ibx-item p:before, .software-page .txt-ibx-item p:before {
  width: 3px;
  height: 3px;
  margin: 13px 0 0  4px;
  background: #666;
}

.software-page .col2 {
  font-size: 0;
}
.software-page .col2 p {
  width: 50%;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.software-page .img-wap {
  padding-bottom: 40px;
}

.pro-advantages {
  position: relative;
  padding: 51px 0 46px;
  font-size: 0;
  text-align: center;
}
.pro-advantages li {
  width: 101px;
  height: 101px;
  margin: 0 15px 20px;
  font-size: 21px;
  font-weight: bold;
  line-height: 102px;
  color: #fff;
  background: #0070c0;
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-border-radius: 52px;
  -webkit-border-radius: 52px;
  border-radius: 52px;
  text-shadow: 1px 1px rgba(1, 87, 182, 0.8);
  -moz-box-shadow: 0 0 3px 3px rgba(1, 95, 184, 0.6) inset;
  -webkit-box-shadow: 0 0 3px 3px rgba(1, 95, 184, 0.6) inset;
  box-shadow: 0 0 3px 3px rgba(1, 95, 184, 0.6) inset;
}

.a-section {
  padding-top: 31px;
}
.a-section > h4 {
  padding: 0 0 38px;
  font-size: 26px;
  font-weight: normal;
  line-height: 1;
  text-align: center;
}

.a-profiles {
  padding-bottom: 20px;
}
.a-profiles h4 {
  padding-bottom: 17px;
  font-size: 18px;
  color: #066ce0;
}
.a-profiles p {
  text-indent: 28px;
}

.a-block {
  padding-bottom: 24px;
}
.a-block h4 {
  position: relative;
  font-size: 15px;
  line-height: 1;
  font-weight: bold;
  padding: 8px 0 18px;
  padding-left: 12px;
  color: #066ce0;
}
.a-block h4:before {
  position: absolute;
  left: 0;
  content: ' ';
  width: 6px;
  height: 6px;
  margin-top: 5px;
  background: #066ce0;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.a-block p {
  font-size: 14px;
  line-height: 25px;
  color: #666;
}
.a-block .img-wap {
  margin-top: 9px;
  padding-bottom: 0px;
}

.img-wap + .a-section {
  padding-top: 30px;
}

@media only screen and (max-width: 1099px) {
  .ftab a {
    width: 130px;
  }

  .tab-nav a {
    width: 115px;
  }

  .l-m {
    width: 190px;
  }
  .l-m a {
    padding-left: 12px;
  }

  .r-c {
    margin-left: 220px;
    padding: 0 20px 6px 20px;
  }

  .r-c .img-contain {
    padding-right: 0;
  }

  .qz-czinf-page .img-wap img {
    position: relative;
    left: -36%;
    max-width: 140%;
    margin-bottom: -10%;
  }
}
.deve-page h2 {
  width: 497px;
  background-position: 0 -272px;
}

.timeline {
  position: relative;
  font-size: 14px;
  text-align: left;
}
.timeline:after {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 210px;
  width: 1px;
  height: 100%;
  background: #3fc2fd;
  content: ' ';
}
.timeline .timeline-icon {
  position: absolute;
  top: 0;
  background: #fff;
}
.timeline .timeline-date {
  float: left;
  width: 182px;
  text-align: right;
}
.timeline .timeline-item {
  position: relative;
  z-index: 3;
  padding-bottom: 11px;
}
.timeline .timeline-item.current .timeline-y {
  padding-bottom: 59px;
}
.timeline .timeline-item.current .timeline-y .timeline-year {
  font-size: 26px;
  line-height: 59px;
}
.timeline .timeline-item.current .timeline-y .i-arrow {
  margin: 0 13px 0 7px;
  border-width: 5px 5px 0 5px;
}
.timeline .timeline-item.current .timeline-y .timeline-icon {
  left: 181px;
  width: 59px;
  height: 59px;
}

.timeline-y, .timeline-c {
  position: relative;
}

.timeline-y {
  overflow: hidden;
  padding-bottom: 32px;
}
.timeline-y .timeline-year {
  font-size: 22px;
  line-height: 35px;
  color: #00a0e9;
}
.timeline-y .i-arrow {
  width: 0;
  height: 0;
  margin: 0  0 0 9px;
  border-width: 4px 4px 0 4px;
  border-style: solid;
  border-color: #00a0e9 transparent transparent transparent;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
.timeline-y .timeline-icon {
  left: 193px;
  width: 35px;
  height: 35px;
}
.timeline-y .timeline-icon img {
  width: 100%;
  height: 100%;
}

.timeline-c {
  padding-bottom: 28px;
  line-height: 24px;
}
.timeline-c .timeline-icon {
  top: 6px;
  left: 204px;
  width: 9px;
  height: 9px;
  border: 2px solid #00a0e9;
  -moz-border-radius: 13px;
  -webkit-border-radius: 13px;
  border-radius: 13px;
}
.timeline-c .timeline-icon:after {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 3px;
  height: 3px;
  background: #00a0e9;
  content: ' ';
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.timeline-c .timeline-t {
  padding-left: 244px;
}
.timeline-c.em {
  font-weight: bold;
}
.timeline-c.em .timeline-icon {
  width: 5px;
  height: 5px;
  border-width: 4px;
}
.timeline-c.em .timeline-icon:after {
  content: none;
}

.structure-page h2 {
  width: 516px;
  background-position: 0 -182px;
}

.structure-c {
  padding: 20px 0 42px;
  text-align: center;
}

.structure-layer-wap {
  position: relative;
}

.structure-layer {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

.structure-note {
  position: relative;
  float: left;
  font-size: 20px;
  color: #fff;
  background: #4c9cf7;
  text-align: center;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

.structure-layer-0 {
  padding-bottom: 56px;
}
.structure-layer-0 .structure-note {
  width: 162px;
  height: 56px;
  font-size: 30px;
  font-weight: bold;
  line-height: 56px;
}
.structure-layer-0 .structure-note:after {
  position: absolute;
  bottom: -56px;
  left: 50%;
  width: 1px;
  height: 56px;
  background: #4c9cf7;
  content: ' ';
}

.structure-layer-1 .structure-note, .structure-layer-2 .structure-note {
  width: 162px;
  height: 40px;
  font-weight: bold;
  line-height: 40px;
}

.structure-layer-1 {
  position: absolute;
  top: -40px;
  left: 50%;
  padding-left: 109px;
}
.structure-layer-1 .structure-note:after {
  position: absolute;
  top: 50%;
  left: -109px;
  width: 109px;
  height: 1px;
  background: #4c9cf7;
  content: ' ';
}

.structure-layer-2 {
  padding-bottom: 40px;
}
.structure-layer-2 .structure-note:after {
  position: absolute;
  bottom: -40px;
  left: 50%;
  width: 1px;
  height: 40px;
  background: #4c9cf7;
  content: ' ';
}

.structure-layer-3 {
  position: relative;
  padding-top: 40px;
}
.structure-layer-3:before {
  position: absolute;
  top: 0;
  right: 23px;
  left: 23px;
  height: 1px;
  background: #4c9cf7;
  content: ' ';
}
.structure-layer-3.v .structure-note {
  width: 40px;
  height: 200px;
  margin: 0 3px;
}
.structure-layer-3.v .structure-note p {
  width: 20px;
  padding: 16px 0;
  line-height: 24px;
  word-wrap: break-word;
  word-break: normal;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
.structure-layer-3.v .structure-note.w3 p {
  padding-top: 4px;
  line-height: 49px;
}
.structure-layer-3.v .structure-note.w8 p {
  padding-top: 18px;
  font-size: 18px;
  line-height: 21px;
}
.structure-layer-3.v .structure-note.w9 p {
  padding-top: 18px;
  font-size: 16px;
  line-height: 18px;
}
.structure-layer-3.v .structure-note:before {
  position: absolute;
  top: -40px;
  left: 50%;
  width: 1px;
  height: 40px;
  background: #4c9cf7;
  content: ' ';
}

@media only screen and (max-width: 769px) {
  .structure-layer-3:before {
    right: 21px;
    left: 21px;
  }

  .structure-layer-3.v .structure-note {
    width: 36px;
  }
}
.worke-page p {
  font-size: 14px;
  line-height: 25px;
}
.worke-page .page-con {
  padding: 27px 0 56px;
}
.worke-page .wphlist {
  overflow: hidden;
  width: 988px;
  margin: 0 auto;
  padding: 75px 0 14px;
}
.worke-page .wphlist li {
  position: relative;
  height: 240px;
  text-align: left;
  white-space: nowrap;
  word-wrap: keep-all;
}
.worke-page .wphlist li img {
  height: 100%;
  vertical-align: bottom;
}

@media only screen and (max-width: 1099px) {
  .worke-page .wphlist {
    width: 820px;
  }
  .worke-page .wphlist li {
    height: 200px;
  }
}
@media only screen and (max-width: 819px) {
  .worke-page .wphlist {
    width: 740px;
  }
  .worke-page .wphlist li {
    height: 180px;
  }
}
@media only screen and (max-width: 739px) {
  .worke-page .wphlist {
    width: 660px;
  }
  .worke-page .wphlist li {
    height: 160px;
  }
}
.pro-list-wap {
  font-size: 18px;
  text-align: center;
}
.pro-list-wap h4 {
  padding: 40px 0 27px;
}

.pro-list {
  font-size: 0;
  font-weight: bold;
}
.pro-list li {
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #fff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin: 0 13px 20px 0;
}
.pro-list li span {
  vertical-align: middle;
  display: table-cell;
  height: 70px;
  width: 100px;
}
.pro-list .pro-list-item-0 {
  background: #009999;
}
.pro-list .pro-list-item-1 {
  background: #00b0f0;
}
.pro-list .pro-list-item-2 {
  background: #f4736c;
}
.pro-list .pro-list-item-3 {
  background: #ff9900;
}
.pro-list .pro-list-item-4 {
  background: #92d050;
}
.pro-list .pro-list-item-5 {
  background: #cc66ff;
}
