/* TED player */
.mejs-container.mejs-ted {

}
.mejs-ted .mejs-controls {
	background: #eee;
	height: 65px;
}

.mejs-ted .mejs-button,
.mejs-ted .mejs-time {
	position: absolute;
	background: #ddd;
}
.mejs-ted .mejs-controls .mejs-time-rail .mejs-time-total {
	background-color: none;
	background: url(../images/controls-ted.png) repeat-x 0 -52px;
	height: 6px;
}
.mejs-ted .mejs-controls .mejs-time-rail .mejs-time-buffering {
	height: 6px;
}
.mejs-ted .mejs-controls .mejs-time-rail .mejs-time-loaded {
	background-color: none;
	background: url(../images/controls-ted.png) repeat-x 0 -52px;
	width: 0;
	height: 6px;
}
.mejs-ted .mejs-controls .mejs-time-rail .mejs-time-current {
	width: 0;
	height: 6px;
	background-color: none;
	background: url(../images/controls-ted.png) repeat-x 0 -59px;
}
.mejs-ted .mejs-controls .mejs-time-rail .mejs-time-handle  {
	display: block;
	margin: 0;
	width: 14px;
	height: 21px;
	top: -7px;
	border: 0;
	background: url(../images/controls-ted.png) no-repeat 0 0;	
}
.mejs-ted .mejs-controls .mejs-time-rail .mejs-time-float {	
	display: none;
}
.mejs-ted .mejs-controls .mejs-playpause-button  {
	top: 29px;
	left: 9px;
	width: 49px;
	height: 28px;
}
.mejs-ted .mejs-controls .mejs-playpause-button  button {
	width: 49px;
	height: 28px;
	background: url(../images/controls-ted.png) no-repeat -50px -23px;
	margin: 0;
	padding: 0;
}
.mejs-ted .mejs-controls .mejs-pause button  {
	background-position: 0 -23px;
}

.mejs-ted .mejs-controls .mejs-fullscreen-button  {
	top: 34px;
	right: 9px;
	width: 17px;
	height: 15px;
	background : none;
}
.mejs-ted .mejs-controls .mejs-fullscreen-button  button {
	width: 19px;
	height: 17px;
	background: transparent url(../images/controls-ted.png) no-repeat 0 -66px;
	margin: 0;
	padding: 0;
}
.mejs-ted .mejs-controls .mejs-unfullscreen  button {
	background: transparent url(../images/controls-ted.png) no-repeat -21px -66px;
	margin: 0;
	padding: 0;
}
.mejs-ted .mejs-controls .mejs-volume-button  {
	top: 30px;
	right: 35px;
	width: 24px;
	height: 22px;
}
.mejs-ted .mejs-controls .mejs-mute button {
	background: url(../images/controls-ted.png) no-repeat -15px 0;
	width: 24px;
	height: 22px;
	margin: 0;
	padding: 0;
}
.mejs-ted .mejs-controls .mejs-unmute button {
	background: url(../images/controls-ted.png) no-repeat -40px 0;
	width: 24px;
	height: 22px;
	margin: 0;
	padding: 0;	
}
.mejs-ted  .mejs-controls .mejs-volume-button .mejs-volume-slider {
	background: #fff;
	border: solid 1px #aaa;
	border-width: 1px 1px 0 1px;
	width: 22px;
	height: 65px;
	top: -65px;
}
.mejs-ted  .mejs-controls .mejs-volume-button .mejs-volume-total {
	background: url(../images/controls-ted.png) repeat-y -41px -66px;
	left: 8px;
	width: 6px;
	height: 50px;
}
.mejs-ted  .mejs-controls .mejs-volume-button .mejs-volume-current {
	left: 8px;
	width: 6px;	
	background: url(../images/controls-ted.png) repeat-y -48px -66px;
	height: 50px;
}

.mejs-ted  .mejs-controls .mejs-volume-button .mejs-volume-handle {
	display: none;
}

.mejs-ted .mejs-controls .mejs-time span {
	color: #333;
}
.mejs-ted .mejs-controls .mejs-currenttime-container  {
	position: absolute;
	top: 32px;
	right: 100px;
	border: solid 1px #999;
	background: #fff;
	color: #333;
	padding-top: 2px;
	border-radius: 3px;
	color: #333;
}
.mejs-ted .mejs-controls .mejs-duration-container  {

	position: absolute;
	top: 32px;
	right: 65px;
	border: solid 1px #999;
	background: #fff;
	color: #333;
	padding-top: 2px;
	border-radius: 3px;
	color: #333;
}

.mejs-ted .mejs-controls .mejs-time  button{
	color: #333;
}
.mejs-ted .mejs-controls .mejs-captions-button {
	display: none;
}
/* END: TED player */

 



/* WMP player */
.mejs-container.mejs-wmp {

}
.mejs-wmp .mejs-controls {
	background: transparent url(../images/controls-wmp-bg.png) center 16px no-repeat;
	height: 65px;
}

.mejs-wmp .mejs-button,
.mejs-wmp .mejs-time {
	position: absolute;
	background: transparent;
}
.mejs-wmp .mejs-controls .mejs-time-rail .mejs-time-total {
	background-color: transparent;
	border: solid 1px #ccc;
	height: 3px;
}
.mejs-wmp .mejs-controls .mejs-time-rail .mejs-time-buffering {
	height: 3px;
}
.mejs-wmp .mejs-controls .mejs-time-rail .mejs-time-loaded {
	background-color: rgba(255,255,255,0.3);
	width: 0;
	height: 3px;
}
.mejs-wmp .mejs-controls .mejs-time-rail .mejs-time-current {
	width: 0;
	height: 1px;
	background-color: #014CB6;
	border: solid 1px #7FC9FA;
	border-width: 1px 0;
	border-color: #7FC9FA #fff #619FF2 #fff;
}
.mejs-wmp .mejs-controls .mejs-time-rail .mejs-time-handle  {
	display: block;
	margin: 0;
	width: 16px;
	height: 9px;
	top: -3px;
	border: 0;
	background: url(../images/controls-wmp.png) no-repeat 0 -80px;	
}
.mejs-wmp .mejs-controls .mejs-time-rail .mejs-time-float {	
	display: none;
}
.mejs-wmp .mejs-controls .mejs-playpause-button  {
	top: 10px;
	left: 50%;
	margin: 10px 0 0 -20px;	
	width: 40px;
	height: 40px;
	
}
.mejs-wmp .mejs-controls .mejs-playpause-button  button {
	width: 40px;
	height: 40px;
	background: url(../images/controls-wmp.png) no-repeat 0 0;	
	margin: 0;
	padding: 0;
}
.mejs-wmp .mejs-controls .mejs-pause button  {
	background-position: 0 -40px;
}

.mejs-wmp .mejs-controls .mejs-currenttime-container  {
	position: absolute;
	top: 25px;
	left: 50%;
	margin-left: -93px;
}
.mejs-wmp .mejs-controls .mejs-duration-container  {
	position: absolute;
	top: 25px;
	left: 50%;
	margin-left: -58px;
}


.mejs-wmp .mejs-controls .mejs-volume-button  {
	top: 32px;
	right: 50%;
	margin-right: -55px;
	width: 20px;
	height: 15px;
}
.mejs-wmp .mejs-controls .mejs-volume-button button {
	margin: 0;
	padding: 0;
	background: url(../images/controls-wmp.png) no-repeat -42px -17px;
	width: 20px;
	height: 15px;
}
.mejs-wmp .mejs-controls .mejs-unmute button {
	margin: 0;
	padding: 0;
	background: url(../images/controls-wmp.png) no-repeat -42px 0;
	width: 20px;
	height: 15px;
}
.mejs-wmp .mejs-controls .mejs-volume-button .mejs-volume-slider {
	background: rgba(102,102,102,0.6);
}

.mejs-wmp .mejs-controls .mejs-fullscreen-button  {
	top: 32px;
	right: 50%;
	margin-right: -82px;
	width: 15px;
	height: 14px;
}
.mejs-wmp .mejs-controls .mejs-fullscreen-button  button {
	margin: 0;
	padding: 0;
	background: url(../images/controls-wmp.png) no-repeat -63px 0;
	width: 15px;
	height: 14px;
}
.mejs-wmp .mejs-controls .mejs-captions-button {
	display: none;
}
/* END: WMP player */


/* MY player */
 
.mejs-container.mejs-my {

}
.mejs-my .mejs-controls {
	background: rgba(0,0,0,.25); 
	-webkit-border-radius: 6px; 
	-moz-border-radius:6px; 
   border-radius: 6px; 
	height:36px; 
	left:18px;
	right: 18px;
	line-height: 36px;  
    bottom: 10px;
    width: auto;
} 
 
.mejs-my .mejs-controls  .mejs-time-rail{
	height: 12px;
	margin:12px 0;
	padding:0;
}
.mejs-my .mejs-controls .mejs-time-rail .mejs-time-total {
	background:rgba(255 ,255,255,.3); 
	-webkit-border-radius: 4px; 
	-moz-border-radius:4px; 
	border-radius: 4px;
	/*background: url(../images/controls-ted.png) repeat-x 0 -52px;*/
	height:4px;
	margin:4px 0;
}
.mejs-my .mejs-controls .mejs-time-rail .mejs-time-buffering {
	height: 4px;
}
.mejs-my .mejs-controls .mejs-time-rail .mejs-time-loaded {
	background:rgba(255 ,255,255,.5); 
	 /*background: url(../images/controls-ted.png) repeat-x 0 -52px;*/
	width: 0;
	height: 4px;
}
.mejs-my .mejs-controls .mejs-time-rail .mejs-time-current {
	width: 0;
	height: 4px;
	background : #066ce0;
	/*background: url(../images/controls-ted.png) repeat-x 0 -59px;*/
}
.mejs-my .mejs-controls .mejs-time-rail .mejs-time-handle  {
	display: block;
	margin: 0;
	width: 12px;
	height: 12px;
	top: -4px; 
	-webkit-border-radius: 12px; 
	-moz-border-radius:12px; 
	border-radius: 12px;
	background:#fff;	
	border:none;
}
.mejs-my .mejs-controls .mejs-time-rail .mejs-time-float {	
	display: none;
}
.mejs-my .mejs-controls .mejs-playpause-button  {
	/*top: 29px;
	left: 9px;
	width: 49px;
	height: 28px;*/
	padding-left: 15px;
    width: 20px;
    height: 20px; 
    overflow: visible;
}
.mejs-my .mejs-controls .mejs-playpause-button  button ,.mejs-my .mejs-controls .mejs-volume-button button,.mejs-my .mejs-controls .mejs-fullscreen-button  button{ 
    font-family: 'icomoon' !important;  
    color: #fff;
    background: none; 
    width: auto;
    height: auto;
    line-height: 36px;
    margin:0;
    overflow: visible;
    padding:0 1px;
}
.mejs-my .mejs-controls .mejs-playpause-button  button{
	  font-size:20px; 
}
.mejs-my .mejs-controls .mejs-playpause-button  button:after{   
    content: "\e90a";
}
.mejs-my .mejs-controls .mejs-pause button:after  { 
    content: "\e908";
}
.mejs-my .mejs-controls .mejs-fullscreen-button{
	width: 41px;
	height: 36px;
}
.mejs-my .mejs-controls .mejs-fullscreen-button  button{
 font-size: 16px;
 padding:0 15px 0 10px;
}
.mejs-my .mejs-controls .mejs-fullscreen-button  button:after{ 

    content: "\e903";
}
.mejs-my .mejs-controls .mejs-unfullscreen  button:after{ 
    content: "\e90e";
}
.mejs-my .mejs-controls .mejs-volume-button button {
	position: relative;
	z-index: 2;
 	width: 22px;
	text-align: center;	
	font-size: 16px;
}
.mejs-my .mejs-controls .mejs-mute button:after {  
   
    content: "\e910";
}
.mejs-my .mejs-controls .mejs-unmute button:after {   
  
    content: "\e906";
}
/*.mejs-my .mejs-controls .mejs-unmute button {
	background: url(../images/controls-ted.png) no-repeat -40px 0;
	width: 24px;
	height: 22px;
	margin: 0;
	padding: 0;	
}*/
.mejs-my  .mejs-controls .mejs-volume-button .mejs-volume-slider {
	z-index: 1;
	background: rgba(0,0,0,.6);
	border: none; 
	-webkit-border-radius: 3px; 
	-moz-border-radius:3px; 
	border-radius:3px;
	width: 22px;
	height: 91px;
	top: -61px;
}
.mejs-my  .mejs-controls .mejs-volume-button .mejs-volume-total {
	background:rgba(255,255,255,.35);
	left: 10px;
	width: 2px;
	height: 60px;
	top:6px;
}
.mejs-my  .mejs-controls .mejs-volume-button .mejs-volume-current {
	left: 10px;
	width: 2px;	
	background: #066ce0;
	height: 60px;
}

.mejs-my  .mejs-controls .mejs-volume-button .mejs-volume-handle {
	 width: 8px;
	 height: 8px;
	 left:7px;
	-webkit-border-radius: 8px; 
	-moz-border-radius:8px; 
	border-radius:8px;
	background: #fff;
	border:none;
} 
.mejs-my .mejs-controls .mejs-currenttime-container,.mejs-my .mejs-controls .mejs-duration-container {
	color: #fff; 
	font-size: 12px;
	padding:0 10px;
	line-height: 36px;
	height: auto;
} 
.mejs-my .mejs-controls .mejs-time  button{
	color: #333;
}
.mejs-my .mejs-controls .mejs-captions-button {
	display: none;
}
.mejs-my .mejs-overlay-play{
	background: rgba(0,0,0,.3);
	width: 100%;
}
.mejs-my .mejs-overlay-button{
	width: 58px;
    height: 58px;
    background-size: 100% 200%;
    margin: -29px 0 0 -29px;
}
.mejs-my .mejs-overlay:hover .mejs-overlay-button{
	    background-position: 0 -58px;
}
/* END: MY player */

